node_modules
bun.lock
package-lock.json
.turbo
.DS_Store
apps/.DS_Store
.agents/
.agents/*
schema.sql
.vscode/
.vercel

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
