node_modules
bun.lock
package-lock.json
.turbo
.DS_Store
apps/.DS_Store
.agents/
.agents/*
schema.sql
.vscode/
.vercel

.dockerignore
docker-compose.yml
Dockerfile.backend
Dockerfile.frontend
.opencode
docs-site/
.env*
